@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root[data-theme="light"] {
    --brand-primary: 7, 104, 172;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --box-shadow: rgba(0, 0, 0, 0.2);
}

:root[data-theme="dark"] {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #1A1A1A;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #EDEDED;
    --heart-color: #DC143C;
    --box-shadow: rgba(255, 255, 255, 0.5);
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

:link {
    text-decoration: none;
}

/* Styling the header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--bg_default);
    padding: 0.5rem 100px;
    position: sticky;
    top: 0;
    z-index: 999999;
}

.header-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo {
    color: rgb(var(--brand-primary));
}

.header-btns .btn {
    border: 0;
    outline: 1px solid var(--lines-color);
    background-color: var(--bg_default);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.header-btns .btn:hover {
    transform: translateY(-0.25em);
    box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.2);
}

.header-btns .btn:active {
    transform: translateY(0);
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .header {
        padding: 0.5rem;
    }
}

/* Styling the banner */

section.main-banner {
    height: 150px;
    background-color: var(--bg_default);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

section.main-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 90% 0%, 0% 45%);
    z-index: 999;
    background-image: linear-gradient(to right, rgb(var(--brand-primary)), #079e7e 99.5%);
    top: 0;
    left: 0;
}

section.main-banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0%, 10% 0%, 100% 45%);
    z-index: 888;
    background-image: linear-gradient(to left, var(--brand-secondary), #02bf83);
    top: 0;
    left: 0;
}

section.main-banner .banner-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

section.main-banner .banner-text .welcome-text {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--brand-secondary);
}

@media screen and (max-width: 600px) {
    section.main-banner::before {
        clip-path: polygon(0% 0%, 80% 0%, 0% 20%);
    }

    section.main-banner::after {
        clip-path: polygon(100% 0%, 50% 0%, 100% 20%);
    }
}

/* Styling main content */
.main-content {
    background-color: rgba(var(--brand-primary), 0.1);
    padding: 1rem 5rem;
}

.search-filter-section {
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-filter-section input {
    border: 0;
    outline: 0;
    height: 100%;
    padding: 1rem;
    padding-inline-start: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.2s all;
}

.select-container {
    background-color: var(--bg_default);
    border-left: 1px solid var(--lines-color);
}

.select-container button {
    border: 0;
    outline: 0;
    background-color: inherit;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 10px;

}

.list-container {
    display: none;
}